.required {
    color: red;
}
.hidden{
    display:none;
}
.hiddenBtn {
    display: none !important;
}
.select2-container--default .select2-selection--single {
    height: 35px !important;
}

#description{
    min-height: 100px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3d9970;
}

.personal-information .fas,.personal-information .far, .personal-information .fa{
    color: #3d9970;
}

.no-transaction, .late{
    background-color: #fcc2c2!important;
}
.sales-info-bg{
    background-color: #fadccf;
    font-size: 15pt;
}

.fc-myCustomButton-button,
.fc-listWeek-button,
.fc-timeGridDay-button,
.fc-dayGridMonth-button,
.fc-timeGridWeek-button,
.fc-today-button,
.fc-prev-button,
.fc-next-button,
.fc-today-button{
    font-size: 10pt;
}

.fc-icon.fc-icon-fa {
    font-family: "FontAwesome", serif !important;
}

.fc-toolbar-title{
    font-size: 15pt !important;
    font-weight: bold;
}

.room-taken-bg-color{
    background-color: #eeeeee;
}

.room-available-bg-color{
    background-color: #bafdc9;
}

.on-going-transaction{
    background-color: #edf8ff;
}

.payment-required{
    background-color: #ffeded;
}

.sales-active{
    background-color: #0c84ff!important;
    color: white !important;
}

@media only screen and (max-width: 1700px) {
    .table-wrapper{
        overflow-x:auto;
    }
}

.client-width{
    width: 20% !important;
}

.excluded{
    background-color: #e5e5e5;
}

.re-stock-required{
    background-color: #fbdfdf;
}

.content-wrapper{
    height:auto;
}

.nav-pills .nav-link.active {
    background-color: #17a2b8; /* Custom active color */
    color: white;
}
.bs-stepper .step.active .bs-stepper-circle{
    background-color: #fd7e14;
    color: white;
}
.nav-sidebar .nav-treeview {
    background-color:  rgba(0, 0, 0, .1)!important;
    /*border-left: 3px solid grey;*/
    border-radius: 0;
}

.nav-sidebar .nav-treeview .nav-link {
    color: #adb5bd;
    transition: 0.3s ease;
}

.nav-sidebar .nav-treeview .nav-link:hover {
    background-color: #007bff;
    color: #fff;
    padding-left: 2rem;
}
.dropdown-menu.show {
    display: ruby;
}




